<nav>
  <ul>
    <p class="shopName">Admin Panel.</p>
    <div class="links">
      <li><a href="">Home</a></li>
      <li><a href="">My account</a></li>
      <li>
        <a href="/owners/logout" class="logoutBtn" style="color: white"
          >Logout</a
        >
      </li>
    </div>
  </ul>
</nav>

<style>
  nav {
    padding: 10px 10px 25px 30px;
    border-bottom: 1px solid black;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
  }

  .links li {
    list-style: none;
    font-size: 20px;
  }

  .links li a {
    text-decoration: none;
    color: black;
  }

  .shopName {
    font-size: 38px;
  }

  .logoutBtn {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: red;
  }
</style>
