<div class="product">
  <div class="productImage">
    <img
      src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcR0AF_S3XWDVDbVBLgTpKBMhAsm4yyUywj9xudwVBdKzmEocb9qfjMGWUVSHnMMCXyIH5zrdqGkj79DA6eQNxznoVaO2cahxDRwOXEKv1d3"
      alt=""
    />
  </div>
  <div class="productDetails">
    <div class="productNAme">
      <p>Clinge Bag</p>
    </div>
    <div class="productPriceDetails">
      <div class="productPrice">$50</div>
      <div class="addTocartIcon">
        <a href="">Buy</a>
      </div>
    </div>
  </div>
</div>

<style>
  .product {
    width: 15vw;
    height: 48vh;
    border-radius: 5px;
  }

  .productImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .productImage {
    height: 60%;
    width: 100%;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .productNAme p {
    font-size: 20px;
    padding: 0.5rem;
    padding-left: 1.4rem;
    background-color: blueviolet;
  }

  .productPriceDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: burlywood;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .addTocartIcon a {
    text-decoration: none;
    color: red;
    padding: 0.1rem;
    font-size: 18px;
  }
</style>
