<nav>
  <ul>
    <p class="shopName">Shop</p>
    <div class="links">
      <li><a href="/shop">Home</a></li>
      <li><a href="/users/cart">cart</a></li>
      <li><a href="/users/myaccount">My account</a></li>
      <li>
        <a href="/users/logout" style="color: white" class="logoutBtn"
          >logout</a
        >
      </li>
    </div>
  </ul>
</nav>

<style>
  nav {
    padding: 10px 10px 10px 30px;
    border-bottom: 1px solid black;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
  }

  .links li {
    list-style: none;
    font-size: 20px;
  }

  .links li a {
    text-decoration: none;
    color: black;
  }

  .shopName {
    font-size: 38px;
  }
  .logoutBtn {
    padding: 0.5rem;
    border-radius: 5px;
    background-color: red;
  }
</style>
