<nav>
  <ul>
    <p class="shopName">Shop</p>
    <div class="links">
      <li><a href="">Home</a></li>
      <li><a href="">products</a></li>
      <li><a href="">cart</a></li>
      <li><a href="">My account</a></li>
    </div>
  </ul>
</nav>

<style>
  nav {
    padding: 10px 10px 25px 30px;
    border-bottom: 1px solid black;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
  }

  .links li {
    list-style: none;
    font-size: 20px;
  }

  .links li a {
    text-decoration: none;
    color: black;
  }

  .shopName {
    font-size: 38px;
  }
</style>
