<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="/stylesheets/admin.css" />
  </head>
  <body>
    <%- include("partials/adminPanel") %>

    <main>
      <%- include("partials/leftNavAdmin") %>

      <div class="productsSec"><%- include("partials/product") %></div>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
