<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="/stylesheets/admin.css" />
  </head>
  <body>
    <%- include("partials/adminPanel") %>

    <main>
      <%- include("partials/leftNavAdmin") %>

      <div class="productsSec">
        <div class="product">
          <div class="productImage">
            <img
              src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcR0AF_S3XWDVDbVBLgTpKBMhAsm4yyUywj9xudwVBdKzmEocb9qfjMGWUVSHnMMCXyIH5zrdqGkj79DA6eQNxznoVaO2cahxDRwOXEKv1d3"
              alt=""
            />
          </div>
          <div class="productDetails">
            <div class="productNAme">
              <p>Clinge Bag</p>
            </div>
            <div class="productPriceDetails">
              <div class="productPrice">$50</div>
              <div class="addTocartIcon">
                <a href="">+</a>
              </div>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="productImage">
            <img
              src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcR0AF_S3XWDVDbVBLgTpKBMhAsm4yyUywj9xudwVBdKzmEocb9qfjMGWUVSHnMMCXyIH5zrdqGkj79DA6eQNxznoVaO2cahxDRwOXEKv1d3"
              alt=""
            />
          </div>
          <div class="productDetails">
            <div class="productNAme">
              <p>Clinge Bag</p>
            </div>
            <div class="productPriceDetails">
              <div class="productPrice">$50</div>
              <div class="addTocartIcon">
                <a href="">+</a>
              </div>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="productImage">
            <img
              src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcR0AF_S3XWDVDbVBLgTpKBMhAsm4yyUywj9xudwVBdKzmEocb9qfjMGWUVSHnMMCXyIH5zrdqGkj79DA6eQNxznoVaO2cahxDRwOXEKv1d3"
              alt=""
            />
          </div>
          <div class="productDetails">
            <div class="productNAme">
              <p>Clinge Bag</p>
            </div>
            <div class="productPriceDetails">
              <div class="productPrice">$50</div>
              <div class="addTocartIcon">
                <a href="">+</a>
              </div>
            </div>
          </div>
        </div>

        <div class="product">
          <div class="productImage">
            <img
              src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcR0AF_S3XWDVDbVBLgTpKBMhAsm4yyUywj9xudwVBdKzmEocb9qfjMGWUVSHnMMCXyIH5zrdqGkj79DA6eQNxznoVaO2cahxDRwOXEKv1d3"
              alt=""
            />
          </div>
          <div class="productDetails">
            <div class="productNAme">
              <p>Clinge Bag</p>
            </div>
            <div class="productPriceDetails">
              <div class="productPrice">$50</div>
              <div class="addTocartIcon">
                <a href="">+</a>
              </div>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="productImage">
            <img
              src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcR0AF_S3XWDVDbVBLgTpKBMhAsm4yyUywj9xudwVBdKzmEocb9qfjMGWUVSHnMMCXyIH5zrdqGkj79DA6eQNxznoVaO2cahxDRwOXEKv1d3"
              alt=""
            />
          </div>
          <div class="productDetails">
            <div class="productNAme">
              <p>Clinge Bag</p>
            </div>
            <div class="productPriceDetails">
              <div class="productPrice">$50</div>
              <div class="addTocartIcon">
                <a href="">+</a>
              </div>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="productImage">
            <img
              src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcR0AF_S3XWDVDbVBLgTpKBMhAsm4yyUywj9xudwVBdKzmEocb9qfjMGWUVSHnMMCXyIH5zrdqGkj79DA6eQNxznoVaO2cahxDRwOXEKv1d3"
              alt=""
            />
          </div>
          <div class="productDetails">
            <div class="productNAme">
              <p>Clinge Bag</p>
            </div>
            <div class="productPriceDetails">
              <div class="productPrice">$50</div>
              <div class="addTocartIcon">
                <a href="">+</a>
              </div>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="productImage">
            <img
              src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcR0AF_S3XWDVDbVBLgTpKBMhAsm4yyUywj9xudwVBdKzmEocb9qfjMGWUVSHnMMCXyIH5zrdqGkj79DA6eQNxznoVaO2cahxDRwOXEKv1d3"
              alt=""
            />
          </div>
          <div class="productDetails">
            <div class="productNAme">
              <p>Clinge Bag</p>
            </div>
            <div class="productPriceDetails">
              <div class="productPrice">$50</div>
              <div class="addTocartIcon">
                <a href="">+</a>
              </div>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="productImage">
            <img
              src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcR0AF_S3XWDVDbVBLgTpKBMhAsm4yyUywj9xudwVBdKzmEocb9qfjMGWUVSHnMMCXyIH5zrdqGkj79DA6eQNxznoVaO2cahxDRwOXEKv1d3"
              alt=""
            />
          </div>
          <div class="productDetails">
            <div class="productNAme">
              <p>Clinge Bag</p>
            </div>
            <div class="productPriceDetails">
              <div class="productPrice">$50</div>
              <div class="addTocartIcon">
                <a href="">+</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>This is developed by @HemanthcodeHub</footer>
  </body>
</html>
