<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Product</title>
    <link rel="stylesheet" href="/stylesheets/createProducts.css" />
  </head>
  <body>
    <%- include("partials/adminPanel") %>

    <main>
      <%- include("partials/leftNavAdmin") %>
      <div class="mainLeftSec">
        <div class="mainLeftSecHeading">
          <p>Create New Product</p>
        </div>
        <div class="productDeatils">
          <p class="productDetailsHeading">Product Details</p>
          <div class="formSec">
            <form
              action="/products/create"
              method="post"
              enctype="multipart/form-data"
            >
              <span class="productImageHeading">Product Image</span
              ><input class="inputFileImage" type="file" name="image" />
              <input
                class="inputProductName"
                type="text"
                placeholder="Product Name"
                name="name"
              />
              <input
                class="inputProductPrice"
                type="number"
                placeholder="Product price"
                name="price"
              />
              <input
                class="inputProductDiscount"
                type="number"
                placeholder="Discount Price"
                name="discount"
              />
              <p class="anotherFormSecHeading">Panel Details</p>
              <input
                class="inputProductBgcolor"
                type="text"
                placeholder="Background Color"
                name="bgcolor"
              />
              <input
                class="inputProductPanelcolor"
                type="text"
                placeholder="Panel Color"
                name="panelcolor"
              />
              <input
                class="inputProductTextColor"
                type="text"
                placeholder="Text Color"
                name="textcolor"
              />
              <input type="submit" class="submitBtn" value="Create Product" />
            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
