@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}

body,html{
    min-height: 100%;
    width: 100%;
}

main{
    display: flex;
    height: auto;
}

.LeftNavSec{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    min-width: 15%;
    margin-left: 1.8rem;
    position: sticky;
    left: 0;
    bottom: 0;
    max-height: 80vh;
}

.leftNavTopSec{
    padding: 2rem 0 0 2rem;
}

.leftNavTopSecFirstOne{
    display: flex;
    justify-content: start;
    align-items: center;
}
.dropdown{
    padding-left: 1.5rem;
}
.leftNavTopSecSecondOne a:nth-child(odd){
    color: rgb(94, 94, 94);
}

.leftNavTopSecSecondOne{
    display: flex;
    flex-direction: column;
}

.leftNavBottomSec{
    padding: 0 0 2rem 2rem;
}

.letfNavBottomSecDownLinks, .leftNavTopSecSecondOne{
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.letfNavBottomSecDownLinks a:nth-child(even){
    color: rgb(94, 94, 94);
}

.letfNavBottomSecDownLinks a, .leftNavTopSecSecondOne a{
    text-decoration: none;
    color: black;
}

.productsSec {
    padding: 3rem;
    width: 100%;
    min-height: 100vh;
    margin-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 2.8rem;
}
